

/*desktop*/
@media screen and (max-width: 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0% 2%;
    }
    
    .row{padding: 0% 2%; }
    
    
}




/*big  tablets 768-1023*/
@media only screen and (max-width: 1023px){
    body{font-size: 18px;}
    section{padding: 60px 0;}
    
    .long-copy{
    width: 100%;
    margin-left: 0%;
}    
    .works-step{margin-bottom: 40px;}
    .works-step:last-of-type{margin-bottom: 60px;}
    .steps-box:first-child{margin-top: 40px;}
    .steps-box:last-child{margin-top: 60px;}
    .app-screen{width: 65%;}
    .icon-small{
        margin-right: 5px;
        width: 15px }
    .city-features{font-size: 90%;}
    a{font-size: 90%}
    .price-box{
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {font-size: 250%;}
    .contacts-form {width: 80%;}

/*small tablets to 767px*/
@media only screen and (max-width: 767px){
    
    body{font-size: 16px;}
    section{padding: 30px 0;}
    
    .col{
        width:100%;
        margin: 0 0 4% 0;}
    
    .row,
    .hero-text-box{
        padding: 0 4%;
    }
    
    
    .main-nav{
        display: none;
        margin-top: 35px;
        margin-left: 10px;}
    
    .mobile-nav{display: inline-block;}
    
    .main-nav{float: left;}
    .main-nav li{display: block;}
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0;
        font-size: 100%;
        padding: 5px 0;
    }
    
    .sticky .main-nav   {margin-top: 10px;}
    .sticky .mobile-nav {margin-top: 10px;}
    .sticky .mobile-nav i{color: #555;}
    
    
    
    .steps-box:first-child{
        text-align:center;
        margin-top: 20px;
    }
    
    .steps-box:last-child{margin-top: 30px;}
    .price-box{margin-bottom: 15px;}
    h1{font-size: 180%}
    h2{font-size: 150%}
    .works-step{margin-bottom: 20px;}
    .works-step:last-of-type{margin-bottom: 20px;}
    
    .works-step div {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        text-align: center;
        padding: 4px;
        font-size: 150%;
    }
    .app-screen{width: 40%;}
}
    
    
.map-form-box{
    position: relative; 
    width:100%;
    height: auto;
}

.map{
    width:100%;
    height: 300px;
    
}
.form-box{
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px 0px;
    
}
    
    

/*small phones to 480px*/
@media only screen and (max-width: 480px){
    section{padding: 25px 0;}
    .contacts-form{width: 100%}
    
}

