/*orange #e67e22 */
/*-------------------------------------*/
/*----------------BASIC SETUP----------*/
/*-------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

.clearfix{ zoom:1}

.clearfix:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*-------------------------------------*/
/*----------REUSABLE ELEMENTS----------*/
/*-------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

h1,
h2{

    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    
}

h2{
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    content: " ";
    background-color: #e67e22;
    height: 2px;
    width:100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.box{
    padding: 1%;
    
}

/*------------PARAGRAPS-----------------*/

.long-copy{
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

.box p{
    line-height: 140%;
    font-size: 90%
}

/*----------------ICONS----------------*/
.big-icon{
    display: block;
    font-size: 350%;
    color: #e67e22;
    text-align: center;
    margin-bottom: 10px;
    
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*vertical fix*/
    vertical-align: middle;
    line-height: 110%;
    margin-top: -5px;
}

/*-------------LINKS-----------------*/

a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: color 0.2s, border 0.2s;
    transition: color 0.2s, border 0.2s;
}

a:hover,
a:active{
    
    color: #555;
    border-bottom: 1px solid transparent;
}

/*-------------BUTTONS-----------------*/

.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    border: 1px solid #e67e22;
    color:#fff;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    color:#e67e22;
}


.btn:active,
.btn:hover,
input[type=submit]:active,
input[type=submit]:hover{
 
    border: 1px solid #bf6516;
    background-color:#bf6516
}

.btn-full:active,
.btn-full:hover{
    background-color: #bf6516;
}
.btn-ghost:active,
.btn-ghost:hover{
    color:#fff;
}

/*-------------------------------------*/
/*----------------HEADER---------------*/
/*-------------------------------------*/

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.75)),to(rgba(0, 0, 0, 0.75))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


/*normal nav*/
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{display: none}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px; 
}

.main-nav li{
    display: inline-block;
    margin-left:  40px;
    margin-bottom: 10px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #e0e0e0;
    padding: 8px 0px;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

/*mobile nav*/
.mobile-nav{
    display: none;
    float: right;
    margin-top: 30px;
    cursor: pointer;    
}

.mobile-nav i{
    font-size: 200%;
    color: #fff;
}


/*sticky nav*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(253, 253, 253, 0.98);
    -webkit-box-shadow: 0 2px 2px #d3d1d1;
    box-shadow: 0 2px 2px #d3d1d1;
    z-index: 9999;
}

.sticky .logo{display: none}
.sticky .logo-black{
    display: inline-block;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;    
}

.sticky .main-nav   {margin-top: 18px;}
.sticky .main-nav li{margin-bottom: 9px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{color: #555;}


/*-------------------------------------*/
/*---------------FEATURES--------------*/
/*-------------------------------------*/

.section-features .long-copy{margin-bottom: 30px;}

/*-------------------------------------*/
/*----------------MEALS---------------*/
/*-------------------------------------*/

.section-meals{
    padding: 0px;
}
.meals-showcase{
    width:100%;
    list-style: none;
    
}
.meals-showcase li{
    width: 25%;
    float: left;
    display: block;
    margin: 0px;
}

.meal-photo{
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    width: 100%;
    opacity: 0.7;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: transform 0.5s,opacity 0.5s;
    transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s;
}

.meal-photo img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*-------------------------------------*/
/*----------------STEPS---------------*/
/*-------------------------------------*/

.how-it-works {
    background-color: #f4f4f4
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    
}

.steps-box:last-child{
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
    height: auto;
}

.works-step{
    margin-bottom: 50px;
    
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
}

.app-btn:link,
.app-btn:visited{
    border:0;
}

.app-btn img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-------------------------------------*/
/*----------------CITIES---------------*/
/*-------------------------------------*/

.city-photo{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.city-feature {
    margin-bottom: 5px;
}

/*-------------------------------------*/
/*----------TESTIMONIALS---------------*/
/*-------------------------------------*/

.section-testimonials{
    background:  -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(img/back-customers-min.jpg);
    background:  linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    
}

blockquote{
    font-style: italic;
    padding: 2%;
    line-height: 140%;
    position: relative;
    margin-top: 50px;
}
blockquote:before{
    display: block;
    content: "\201C";
    font-size: 500%;
    position: absolute;
    left: -5px;
    top:-5px;
    
    
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 25px;
    
        
}



cite img{
    height: 45px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*-------------------------------------*/
/*----------------SIGN UP--------------*/
/*-------------------------------------*/

.section-plans{
    background-color: #f4f4f4;
    
}

.price-box{
    background-color: #e6e6e6;
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    -webkit-box-shadow: 2px 3px 3px #b5b5b5;
    box-shadow: 2px 3px 3px #b5b5b5;
    -webkit-transition: top ease 0.8s ;
    transition: top ease 0.8s ;
}

.price-box:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.price-box div{
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.price-box div:first-child{
    background-color: #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.price-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    font-weight: 100;
    color: #e67e22;
    margin-bottom: 10px;
}

.plan-price span{
    font-size: 35%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.price-box ul{
    list-style: none;
    
}

.price-box ul li{
    padding: 5px 0px;
}

/*-------------------------------------*/
/*----------------FORM-----------------*/
/*-------------------------------------*/

.contacts-form{
    width: 90%;
    margin: 0 auto;
    
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 7px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0px;
}

*:focus{outline: none}

.map-form-box{
    position: relative; /*----*/
    width:100%;
    height: 560px;
}

.map{
    width:100%;
    height: 100%;
    z-index: 0;
}
.form-box{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    width: 50%;
    height: 100%;
    padding: 40px 15px 15px 15px;;
}

/*-------------------------------------*/
/*----------------FOOTER----------------*/
/*-------------------------------------*/

footer{
    background: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child{
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #888;
    
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color:#ddd;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 160%;
    
}

.ion-social-facebook:hover{
    color:#3b5998;
}
.ion-social-twitter:hover{
    color:#55acee;
}
.ion-social-googleplus:hover{
    color:#dd4b39;
}
.ion-social-instagram:hover{
    color:#fbad50;
}


footer p{
    color:#888;
    text-align: center;
    margin-top: 20px
}

/*-------------------------------------*/
/*------------ANIMATIONS---------------*/
/*-------------------------------------*/

.js--wp-1,
.js--wp-2{opacity: 0;}

.js--wp-1.animated,
.js--wp-2.animated{opacity: 1;}

